body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  margin-left: 43%;
  box-sizing: border-box;
  display: inline;

}
.topnav {
  overflow: hidden;
  background-color: transparent;
  padding-left: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

/* Navigation links */
.topnav a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 5px;
  text-transform: uppercase;

}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: 5px;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
}

/* Add a red background color to navigation links on hover */
.topnav a:hover, .subnav:hover .subnavbtn {
  background-color: #e84855;
}

/* Style the subnav content - positioned absolute */
.subnavContent {
  display: none;
  position: absolute;
  background-color: #e84855;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the subnav links */
.subnavContent a {
  float: none;
  font-size: 15px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color on hover */
.subnavContent a:hover {
  background-color: #fff;
}

.subnav:hover .subnavContent {
  display: inline-flex;
}

h1 {
  font-size: 50px;
  padding-top: 40px;
padding-right: 50px;
padding-bottom: 20px;
padding-left: 50px;
  color: #e84855;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.div1 {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 5px;
  margin-top: 15px;
}

p {
  font-size: 14px;
  color: black;
  overflow: hidden;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Montserrat', sans-serif;
}

.div2 {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 2px solid black;
  background-color: white;
  width: 35%;
  margin-left: 195px;
  float: left;
  margin-bottom: 8px;
}

.ul1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13.5px;
  padding-left: 50px;
}

.div3 {
  padding-top: 25px;
  padding-bottom: 59px;
  border: 2px solid black;
  background-color: white;
  width: 35%;
  margin-right: 195px;
  float: right;
  margin-bottom: 8px;
}

.ul2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13.5px;
  padding-left: 50px;
}

.div4 {
  padding-top: 25px;
  padding-bottom: 70px;
  border: 2px solid black;
  background-color: white;
  width: 35%;
  margin-left: 195px;
  float: left;
  margin-bottom: 8px;
}

.ul3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13.5px;
  padding-left: 50px;
}

.div5 {
  padding-top: 25px;
  padding-bottom: 38px;
  border: 2px solid black;
  background-color: white;
  width: 35%;
  margin-right: 195px;
  float: right;
  margin-bottom: 8px;
}

.ul4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13.5px;
  padding-left: 50px;
}

.div6 {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 2px solid black;
  background-color: white;
  width: 35%;
  margin-left: 430px;
  float: left;
  margin-bottom: 50px;
}

.ul5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13.5px;
  padding-left: 50px;
}

/* footer */
.page-footer{
  text-align: center;
margin-top: 70%;
  font-family: 'Montserrat', sans-serif;
  background: #CE67CA;
background: -moz-linear-gradient(top, #CE67CA 0%, #5500A4 100%, #C59237 100%);
background: -webkit-linear-gradient(top, #CE67CA 0%, #5500A4 100%, #C59237 100%);
background: linear-gradient(to bottom, #CE67CA 0%, #5500A4 100%, #C59237 100%);
  padding: 30px;
  padding-top: 5px;
}
a{
  color:white
}
 li:hover{
  text-decoration: underline;
}
a:link{
  text-decoration: none;
}
li:active{
  text-decoration: underline;
}
h5{
  font-size: 18px;
}
