@font-face {
  font-family: Helvetica;
  src: "C:\Users\A C E R\Desktop\PROJECT\HELR45W.ttf";
}
body{
  background-color: white;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}
h1{
  font-style: bold;
  font-size: 50px;
  padding-top: 50px;
padding-right: 50px;
padding-bottom: 20px;
padding-left: 50px;
  color: #e84855;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.background .icon1{
  margin-top:10%;
  position: absolute;
  z-index: -1;
}
.background .icon2{
  position: absolute;
  z-index: -1;
  margin-left:65%;
  margin-top: 20%;
}
.content{
  margin-top: 0;
  margin-bottom: 5%;
}
.logo {
  margin-left: 43%;
  box-sizing: border-box;
  display: inline;

}
.topnav {
  overflow: hidden;
  background-color: transparent;
  padding-left: 15%;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
}

/* Navigation links */
.topnav a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 5px;
  text-transform: uppercase;

}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: 5px;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
}

/* Add a red background color to navigation links on hover */
.topnav a:hover, .subnav:hover .subnavbtn {
  background-color: #e84855;
}

/* Style the subnav content - positioned absolute */
.subnavContent {
  display: none;
  position: absolute;
  background-color: #e84855;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the subnav links */
.subnavContent a {
  float: none;
  font-size: 15px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color on hover */
.subnavContent a:hover {
  background-color: #fff;
}

.subnav:hover .subnavContent {
  display: inline-flex;
}

/*table styel*/
.tg  {
  font-family: 'Montserrat', sans-serif;
  border: 3px solid white;
  border-radius: 25px 25px 25px 25px;
  border-collapse:collapse;
  border-spacing:0;
  margin:0px auto;
  table-layout: fixed; width: 800px;
  text-align: center;
}
.tg td{
  font-size:14px;padding:10px 5px;
  border-style:solid;
  border-width:5px;
  overflow:hidden;
  word-break:normal;
  border-color:white;
  color:#333;
  background-color:#fff;
}
.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#f0f0f0;
}
.int{
  font-family: 'Bebas Neue', cursive;
  margin-left: 39%;
  font-size: 40px;
  color: black;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
}
.tg .tg-cmwg{background-color:#ffce93;text-align:center;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top;background-color: #f2a92c}
.tg .tg-8led{font-weight: bold;background-color:#f56b00;text-align:center;vertical-align:top}
.tg .tg-ifcm{background-color:#ffce93;text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:center;vertical-align:top;background-color: #f2a92c}

/*styling notes*/
.notes{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 5%;
}

/*FORMATTING FOR BUTTON*/
.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

div[class*=container] {
  text-align: center;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-three { background: #a454ba;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20%;
}
.btn-three::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1, 0.1);
}
.btn-three:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-three::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.btn-three:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}

/* footer */
.page-footer{
  font-family: 'Montserrat', sans-serif;
  background: #CE67CA;
background: -moz-linear-gradient(top, #CE67CA 0%, #5500A4 100%, #C59237 100%);
background: -webkit-linear-gradient(top, #CE67CA 0%, #5500A4 100%, #C59237 100%);
background: linear-gradient(to bottom, #CE67CA 0%, #5500A4 100%, #C59237 100%);
  padding: 30px;
  padding-top: 5px;
}
a{
  color:white
}
 li:hover{
  text-decoration: underline;
}
a:link{
  text-decoration: none;
}
li:active{
  text-decoration: underline;
}
h5{
  font-size: 18px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 40px;
}
