@font-face {
  font-family: Helvetica;
  src: "C:\Users\A C E R\Desktop\PROJECT\HELR45W.ttf";
}
.first{
  padding-left: 10%;

}
body{
  margin: 0;
  padding: 0;
}
#bordergituh {
border: 5px solid #e84855;
border-radius: 35px 0px 35px 0px;
margin-bottom: 18px;
}

img {
  margin-top: 10px;
  margin-left: 43%;
  box-sizing: border-box;
  display: inline;

}
.named{
  color: #a454ba;
}
.topnav {
  overflow: hidden;
  background-color: transparent;
  padding-left: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

/* Navigation links */
.topnav a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 5px;
  text-transform: uppercase;

}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: 5px;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
}

/* Add a red background color to navigation links on hover */
.topnav a:hover, .subnav:hover .subnavbtn {
  background-color: #e84855;
}

/* Style the subnav content - positioned absolute */
.subnavContent {
  display: none;
  position: absolute;
  background-color: #e84855;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the subnav links */
.subnavContent a {
  float: none;
  font-size: 15px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color on hover */
.subnavContent a:hover {
  background-color: #fff;
}

.subnav:hover .subnavContent {
  display: inline-flex;
}
label{

    font-family: 'Montserrat', sans-serif;
    font-size:14px;
}
/*
body{
  background-color: #75cfff;
}*/

.l{
  margin-left: 50px;
  font-family: Helvetica;
  font-size: 40px;
color: #e84855;
  font-style: bold;
text-decoration: none;
font-variant: small-caps;


}

.payment{
  margin: 0 416px auto;
  width: 100px;
  padding-bottom: 20px;
}

.payment_parent{
  margin-top: 20%;
  width: 130px;
  margin-left: -22px;
}


table tr td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
  }

form{
  clear: both;
  margin-right: 0;
  padding: 0;
}

form div{
  clear: both;
  margin-bottom: 1em;
    padding: .5em;
  vertical-align: text-top;
}

#content {
    clear: both;
    color: #333;
    padding: 10px 9px 9px 11px;
    overflow: auto;
    -moz-border-radius: 10px;
    text-align: left;

    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 22%;
    width: 950px;
  }
#vvv{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-left: 42%;
  padding-top: 10px;
  }
.named{
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
    color: black;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    text-align: left;
}


.col {
  float: left;
  width: 34%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: " ";
  clear: both;
  display: table;
}

/*FORMATTING FOR BUTTON*/
.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

div[class*=container] {
  text-align: center;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-three { background: #b553aa;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20%;
}
.btn-three::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1, 0.1);
}
.btn-three:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-three::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.btn-three:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}

/* footer */
.page-footer{
  font-family: 'Montserrat', sans-serif;
  background: #CE67CA;
background: -moz-linear-gradient(top, #CE67CA 0%, #5500A4 100%, #C59237 100%);
background: -webkit-linear-gradient(top, #CE67CA 0%, #5500A4 100%, #C59237 100%);
background: linear-gradient(to bottom, #CE67CA 0%, #5500A4 100%, #C59237 100%);
  padding: 30px;
  padding-top: 5px;
}
a{
  color:white
}
 li:hover{
  text-decoration: underline;
}
a:link{
  text-decoration: none;
}
li:active{
  text-decoration: underline;
}
h5{
  font-size: 18px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 40px;
}
/*
<div id="econference index">
<form name="econference" method="post" onsubmit="return validate()" id="EconferenceAdd/300Form" action="/econference/econferences/add/300" accept-charset="utf-8">
<div style="display:none;"><input type="hidden" name="_method" value="POST"></div>*/
