* {
  font-family: sans-serif;
}
body {
  background: white;
  margin: 0;
  padding: 0;
}
img {
  margin-top: 10px;
  margin-left: 43%;
  box-sizing: border-box;
  display: inline;

}
.topnav {
  overflow: hidden;
  background-color: transparent;
  padding-left: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.topnav a {
  float: left;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 5px;
  text-transform: uppercase;
}

.subnav {
  float: left;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
.subnav .subnavbtn {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border: 5px;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
}
.topnav a:hover,.subnav:hover .subnavbtn {
  background-color: #e84855;
}
.topnav a:active{
  background-color: #e84855;
}
.subnavContent {
  display: none;
  position: absolute;
  background-color: #e84855;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.subnavContent a {
  float: none;
  font-size: 15px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.subnavContent a:hover {
  background-color: #fff;
}
.subnav:hover .subnavContent {
  display: inline-flex;
}

span{
  color: white;
  text-align: center;
  position: absolute;
  top: 18%;
  left: 10%;
  width: 80%;
  text-align: center;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.inner-content{
  position: relative;
  background-color: RGBA(0,0,0,0.5);
  padding-top: 30px;
  height: 70%;
}
.inner-content h1{
  padding: 25px;
  padding-bottom: 0;
  font-size: 40px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 4px 4px 4px #aaa;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.inner-content h3{
  margin: 0;
  margin-bottom: 15px;
  padding-top: 0;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 4px 4px 4px #aaa;
}
.link-btn{
  display: inline-flex;
  text-decoration: none;
  margin-top: 10px;
}
.btn{
  background-color: #e84855;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  margin: 10px;
  vertical-align: baseline;
  border-radius: 25px;
  width: 250px;
  height: 40px;
}
.btn:hover{
  background-color: #34215b;
}
.btn a{
  font-family: 'Poppins', sans-serif;;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding-top: 20px;
  margin: 10px;
}
.btn a:hover{
  color: #e84855;
}
.bg {
  position: relative;
  background-image: url(brain.png);
  height: 95vh;
  background-size: contain;
  background-position: 0 0;
  background-repeat: repeat-x;
  -webkit-animation: animate 15s infinite;
}
@-webkit-keyframes animate {

  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }

}
.main-content{
  display: flex;
}
.sec-1{
  box-sizing: border-box;
  box-shadow: 16px 0px 16px 0px rgba(0, 0, 0, 0.5);
  background-color: #34215b;
  width: 100%;
  height: auto;
}
.about-us{
  margin: 30px;
}
.about-us-content{
  width: 100%;
  height: auto;
}
.about-us-content h1{
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  border-bottom: 1px solid white;
  border-width: thin;
  padding-top: 0;
  padding-bottom: 25px;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: white;
  line-height: 2;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
  text-align: center;
}
.more-btn{
  background-color: #e84855;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  margin: 20px;
  margin-left: 50px;
  vertical-align: baseline;
  border-radius: 25px;
  width: 250px;
  height: 40px;
}
.more-btn:hover{
  background-color: white;
}
.more-btn a{
  font-family: 'Poppins', sans-serif;;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  margin: 100px;
  text-align: center;
}
.more-btn a:hover{
  color: #e84855;
}
.sec-2{
  background-color: #fff;
  width: 100%;
  height: auto;
}
.keynote-speaker{
  margin: 30px;
  text-align: center;
}
.keynote-speaker h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  border-bottom: 1px solid black;
  border-width: thin;
  padding-bottom: 30px;
}
.img-speaker{
  display: inline-block;
  margin:30px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 155px;
}
.img-speaker img{
  width: 150px;
  height: 150px;
  margin: 10px;

}
.img-speaker h3{
  font-size: 14px;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  padding-right: 9%;
  text-align: left;
}
.more-btn2{
  background-color: #e84855;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  margin: 20px;
  margin-left: 90px;
  vertical-align: baseline;
  border-radius: 25px;
  width: 250px;
  height: 40px;
}
.more-btn2:hover{
  background-color: white;
}
.more-btn2 a{
  font-family: 'Poppins', sans-serif;;
  font-style: normal;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin: 95px;
  text-align: center;
}
.more-btn2 a:hover{
  color: #e84855;
}
.sec-3{
  box-sizing: border-box;
  box-shadow: 16px 0px 16px 0px rgba(0, 0, 0, 0.5);
  background-color: #34215b;
  width: 100%;
  height: auto;
  margin-top: 40px;
}
.announcement{
  margin: 40px;
}
.announcement h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  border-bottom: 1px solid white;
  border-width: thin;
  padding-top: 30px;
  padding-bottom: 25px;
}
.announcement-content{
  width: 100%;
  height: auto;
}
.announcement-btn{
  background-color: #e84855;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  margin: 20px;
  margin-left: 40%;
  vertical-align: baseline;
  border-radius: 25px;
  width: 250px;
  height: 40px;
}
.announcement-btn:hover{
  background-color: white;
}
.announcement-btn a{
  font-family: 'Poppins', sans-serif;;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  margin: 85px;
  text-decoration: none;
  text-align: center;
}
.announcement-btn a:hover{
  color: #e84855;
}

/* footer */
.page-footer{
  font-family: 'Montserrat', sans-serif;
  background: #CE67CA;
background: -moz-linear-gradient(top, #CE67CA 0%, #5500A4 100%, #C59237 100%);
background: -webkit-linear-gradient(top, #CE67CA 0%, #5500A4 100%, #C59237 100%);
background: linear-gradient(to bottom, #CE67CA 0%, #5500A4 100%, #C59237 100%);
  padding: 30px;
  padding-top: 5px;
  text-align: center;
}
a{
  color:white;
}
li:hover{
  text-decoration: underline;
}
a:link{
  text-decoration: none;
}
li:active{
  text-decoration: underline;
}
h5{
  font-size: 18px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 40px;
}
