body{
  margin: 0;
}
img {
  margin-top: 10px;
  margin-left: 43%;
  box-sizing: border-box;
  display: inline;

}
.topnav {
  overflow: hidden;
  background-color: transparent;
  padding-left: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

/* Navigation links */
.topnav a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 5px;
  text-transform: uppercase;

}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: 5px;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
}

/* Add a red background color to navigation links on hover */
.topnav a:hover, .subnav:hover .subnavbtn {
  background-color: #e84855;
}

/* Style the subnav content - positioned absolute */
.subnavContent {
  display: none;
  position: absolute;
  background-color: #e84855;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the subnav links */
.subnavContent a {
  float: none;
  font-size: 15px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color on hover */
.subnavContent a:hover {
  background-color: #fff;
}

.subnav:hover .subnavContent {
  display: inline-flex;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: black;
}
h1 {
  font-size: 50px;
  padding-top: 20px;
padding-right: 50px;
padding-bottom: 20px;
padding-left: 50px;
  color: #e84855;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.container {
  position: relative;
  width: 60%;
  margin-bottom: 35px;
}

.image img {
  display: block;
  width: 20%;
  height: 30%;
  padding-left:50px;
}

.overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000033;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* footer */
.page-footer{
  font-family: 'Montserrat', sans-serif;
  background: #CE67CA;
background: -moz-linear-gradient(top, #CE67CA 0%, #5500A4 100%, #C59237 100%);
background: -webkit-linear-gradient(top, #CE67CA 0%, #5500A4 100%, #C59237 100%);
background: linear-gradient(to bottom, #CE67CA 0%, #5500A4 100%, #C59237 100%);
  padding: 30px;
  padding-top: 5px;
  text-align: center;
}
a{
  color:white;
}
 li:hover{
  text-decoration: underline;
}
a:link{
  text-decoration: none;
}
li:active{
  text-decoration: underline;
}
h5{
  font-size: 18px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 40px;
}
